AI_API_URL=http://localhost:8000
DATABASE_ADMIN_URL=postgresql://USER@localhost:5432/postgres
DATABASE_URL=postgresql://USER@localhost:5432/recommendation_system_v3
DATABASE_NAME=recommendation_system_v3